body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font: 50px;
}
.orange-highlight{
    color: crimson;
    
}
.orange-blue{
    color: navy;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #d60909, tomato);
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.half-width{
    width: 30%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    height: auto;
}
.dark{
    width: 28%;
    float: left;
    margin-left: 5%;
    padding-left: 2;
    clear: both;
    
    

}
h2{
   text-align: center;
}
p{
    text-align: justify;
}  


.three-width img{
    width: 100%;
}
.three-width{
    box-shadow: 10px 10px 40px gray;
    border-radius: 8px;
    width: 50%
    
    
    
    
}
